{
    "sourceMaps": true,
    "jsc": {
      "target": "es2020",
      "parser": {
        "syntax": "typescript",
        "tsx": true,
        "decorators": false,
        "dynamicImport": false
      },
      "transform": {
        "hidden": {
          "jest": true
        }
      }
    },
    "module": {
      "type": "es6",
      "strict": false,
      "strictMode": true,
      "lazy": false,
      "noInterop": false
    }
  }